@import url('https://fonts.googleapis.com/css?family=Roboto|Lato:400');

* {
    padding: 0;
    margin: 0;
    border: 0;
}

body {
    font-family: Roboto;
    color: #000;
    max-width: 100%;
}

h1,
h2,
h3 {
    font-family: Lato;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;
}

h4,
p {
    font-family: Roboto;
    letter-spacing: 1px;
}

/* general - for nav and buttons */
.text-shadow {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.flashes h4 {
    line-height: 2;
}

/* nav bar */
@media only screen and (max-width: 425px){
nav .brand-logo {
    left: 40%;
}
}

div.nav-wrapper{
    padding-left: 20px;
}




/* footer */
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }

footer {
    padding: 30px;
}


  /* card template */
.preview {
    height: 350px;
}

.card-image-preview {
    max-height: 200px;
    object-fit: cover;
}