{% extends "base.html" %}
{% block content %}

    <h3 class="light-blue-text text-darken-4 center-align">Add Better Ending</h3>

    <div class="row card-panel grey lighten-5">
        <form class="col s12" method="POST" action="">
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-pencil-alt prefix light-blue-text text-darken-4"></i>
                    <input id="ending_name" name="ending_name" minlength="2" maxlength="50"
                        type="text" class="validate" required>
                    <label for="ending_name">Name</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-align-left prefix light-blue-text text-darken-4"></i>
                    <textarea id="ending_description" name="ending_description" minlength="5"
                        maxlength="200" class="materialize-textarea validate" required></textarea>
                    <label for="ending_description">Better Ending</label>
                </div>
            </div>
        </form>
    </div>

{% endblock %}