{% extends "base.html" %}
{% block content %}

<h3 class="light-blue-text text-darken-4 center-align">Edit Better Ending</h3>

<div class="row card-panel grey lighten-5">
    <form class="col s12" method="POST" action="{{ url_for('edit_ending', ending_id=ending._id) }}">
        <!-- genre selection -->
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-folder-open prefix light-blue-text text-darken-4"></i>
                <select id="genre_name" name="genre_name" class="validate" required>
                    <option value="" disabled selected>Choose Genre</option>
                    {% for genre in genres %}
                    {% if genre.genre_name == ending.genre_name %}
                    <option value="{{ genre.genre_name }}" selected>{{ genre.genre_name }}</option>
                    {% else %}
                    <option value="{{ genre.genre_name }}">{{ genre.genre_name }}</option>
                    {% endif %}
                    {% endfor %}
                </select>
                <label for="genre_name">Ending Genre</label>
            </div>
        </div>
        <!-- type selection -->
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-folder-open prefix light-blue-text text-darken-4"></i>
                <select id="type_name" name="type_name" class="validate" required>
                    <option value="" disabled selected>Choose Type</option>
                    {% for type in types %}
                    {% if type.type_name == ending.ending_type %}
                    <option value="{{ type.type_name }}" selected>{{ type.type_name }}</option>
                    {% else %}
                    <option value="{{ type.type_name }}">{{ type.type_name }}</option>
                    {% endif %}
                    {% endfor %}
                </select>
                <label for="type_name">Ending Type</label>
            </div>
        </div>
        <!-- name -->
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-pencil-alt prefix light-blue-text text-darken-4"></i>
                <input id="ending_name" name="ending_name" minlength="3" maxlength="50" value="{{ ending.ending_name }}"
                    type="text" class="validate" required>
                <label for="ending_name">Ending Name</label>
            </div>
        </div>
        <!-- Image URL -->
        <div class="card-panel yellow lighten-4"><i class="fas fa-exclamation-triangle"></i> If you don't have a high
            quality image URL to use, leave blank and a default image will be used.
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-pencil-alt prefix light-blue-text text-darken-4"></i>
                    <input id="ending_image" name="ending_image" minlength="3" maxlength="200"
                        value="{{ ending.ending_image }}" type="text">
                    <label for="ending_image">Ending image URL</label>
                </div>
            </div>
        </div>
        <!-- ending Description -->
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-align-left prefix light-blue-text text-darken-4"></i>
                <textarea id="ending_description" name="ending_description" minlength="5" maxlength="2000"
                    class="materialize-textarea validate" required>
                     {{- ending.ending_description -}}
                    </textarea>
                <label for="ending_description">Better ending</label>
            </div>
        </div>
        <!-- submit button -->
        <div class="row">
            <div class="col s12 center-align">
                <!-- cancel button -->
                <a href="{{ url_for('get_endings') }}" class="btn-large red text-shadow">
                    Cancel <i class="fas fa-times-circle right"></i>
                </a>
                <button type="submit" class="btn-large light-blue darken-1 text-shadow">
                    Edit Ending <i class="fas fa-edit right"></i>
                </button>
            </div>
        </div>
    </form>
</div>

{% endblock %}