{% extends "base.html" %}
{% block content %}
<h4 class="light-blue-text text-darken-4 center-align">Prefer this ending to the original?</h4>
<p class="center-align">Why not upvote this better ending to let the author know how much you enjoyed it.</p>

<div class="row">
    <div class="col s12">
      <div class="card light-blue lighten-4">
        <div class="card-image">
          <img src="{{ ending.ending_image }}" />
        </div>
        <div class="card-content black-text">
          <span class="card-title"><strong>Title</strong> : {{ ending.ending_name }}</span>          
          <strong>Genre: </strong> {{ ending.genre_name }}<br>
                <strong>Type: </strong> {{ ending.ending_type }}<br>
                <strong>Better Ending: </strong>
                <p>{{ ending.ending_description }}</p>
                <p><em>By: {{ ending.created_by }}</em></p>
                <p><em>Submitted: {{ ending.ending_date }}</em></p>

              </div>
              <div class="card-action">
                {% if upvote %}

                {% else %}
                <form method="POST" action="{{ url_for('upvote_ending', ending_id=ending._id) }}">
                  <input type="hidden" id="rated" name="rated" value="1">
                <button type="submit" class="btn-large light-green darken-1">
                  <i class="fas fa-thumbs-up"> Upvote</i>
              </button>
                </form>
                {% endif %}
</div>
      </div>
    </div>
  </div>

  <p class="center-align">Ready to write your own better ending? 
    {% if session.user %}
        Create your <a href="{{ url_for('add_ending') }}">New ending</a> now.</p>
    {% else %}
       <a href="{{ url_for('login') }}">login</a> or <a href="{{ url_for('register') }}">Register</a> to get started.</p>
    {% endif %}
{% endblock %}